
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 23px;
  background-color: #fff;
}


a.text_link {
  text-decoration: none;
  margin-bottom: 1px;
  color: #7147a4;
  border-bottom: solid 1px #4c4c4c;
}

a.text_link:hover {
  margin-bottom: 0;
  border-bottom: solid 2px #4c4c4c;
}

/* *** Navbar *** */

.navbar {
   margin-bottom: 0;
}

.navbar-brand {
   padding: 12px 0 0 0;
}

.navbar-default .navbar-brand img {
   width: 150px;
   height: 54px;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Must keep this CSS below, otherwise this darn border appears when the viewport < 768 */
.navbar-default .navbar-collapse {
   border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.navbar-nav {
   margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  padding: 14px 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #2d2d2d;
   background: rgba(255, 255, 255, 0.4);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
   color: #2d2d2d;
   background: rgba(255, 255, 255, 0.4);
}

/*
 * Note: Use .active to indicate the current page in the main nav.
 * See: http://getbootstrap.com/components/#navbar (Section: Disabled and active states).
 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #f2b84b;
  background-color: transparent;
}

.shrink.navbar-default .navbar-nav > .active > a, .shrink.navbar-default .navbar-nav > .active > a:focus, .shrink.navbar-default .navbar-nav > .active > a:hover {
  color: #a6d2f4;
  background-color: transparent;
}
*/


/** On scroll change navigation style **/

.navbar-default.shrink {
  /* background: rgba(255, 255, 255, 0.95); */
  background-color: #fff;
  border: 0;
  padding: 0 0 8px 0;
}


/* Shrink the MAT logo when scroll down */

.navbar-default.shrink .navbar-brand img {
   transform: scale(0.7, 0.7);
   -ms-transform: scale(0.7, 0.7);
   -webkit-transform: scale(0.7, 0.7);
}

#caption {
     display: none;
}

.overlay {
   padding: 200px 0;
   background: rgba(0,0,0,0.2);
}

.page_content {
   /* background-color: #333; */
   background-color: #2c2c2c;
}

.page_title {
   padding: 25px 0 25px 45px;
   background-color: #fff;
}

.page_title h1 {
   color: #d01660;
}

.sidebar {
   padding-top: 40px;
}

ul.sidebar_nav {
   margin: 0 45px 0 30px;
   padding: 0;
   list-style: none;
}

ul.sidebar_nav li {
  border-bottom: solid 1px #444;
}

ul.sidebar_nav li a {
  display: block;
  padding: 14px 0;
  text-decoration: none;
  font-size: 16px;
  color: #b1b1b1;
}

ul.sidebar_nav li a:hover {
   color: #fff
}

ul.sidebar_nav li i {
  padding-right: 12px;
  font-size: 13px;
  color: #414141;
}

ul.sidebar_nav li a i.active {
  color: #d01660;
}

ul.sidebar_nav li a i.hover {
  color: #d01660;
}

.main_content {
   padding: 0 100px 50px 65px;
   background-color: #fff;
}

.main_content h2 {
   margin-top: 0;
   margin-bottom: 20px;
}

.main_content h3 {
   margin-top: 30px;
   margin-bottom: 14px;
   font-size: 22px;
}

.main_content h4 {
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 20px;
}

/* Style for smart phones and above - large screens */

@media (min-width: 768px) {
  .dropdown-menu {
     top: 90px;
  }

  .navbar {
     padding: 18px 30px 20px 30px;
  }

  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
     margin-left: 0;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu {
     top: 120px;
     left: 44px;
     right: 44px;
  }

  .nav.navbar-nav {
     margin-top: 16px;
     background-color: rgba(0,0,0,0.4);
     /* border-bottom: solid 1px rgba(255, 255, 255, 0.2); */
  }

  .navbar-default.shrink .nav.navbar-nav {
     background-color: transparent;
  }

  .navbar.shrink .dropdown-menu {
    background-color: #000;
  }

/*
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     border-radius: 6px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     border-radius: 6px;
  }
*/

  .navbar-default.shrink .navbar-nav > li > a {
     color: #4b4a4a;
  }

  .navbar-default.shrink .navbar-nav > li > a:hover, .navbar-default.shrink .navbar-nav > li > a:focus {
     color: #414040;
     background: rgba(147, 146, 146, 0.3);
  }

  .navbar-default.shrink .navbar-nav > .open > a, .navbar-default.shrink .navbar-nav > .open > a:focus, .navbar-default.shrink .navbar-nav > .open > a:hover {
     color: #414040;
     background: rgba(147, 146, 146, 0.3);
  }

  .navbar-default .navbar-nav > li > a span {
     color: #a6d2f4;
   }

  .navbar-default .navbar-nav .yamm-content .nav {
     margin-right: 2em;
     white-space: nowrap;
  }

  #home .main_page_right_col > li > a {
     padding: 6px;
     text-decoration: none;
     text-align: center;
     display: block;
     color: rgba(244, 244, 244, 0.85);
     font-size: 13px;
     /* font-weight: 500; */
     border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  }

  #home .main_page_right_col > li > a:hover {
     color: #2d2d2d;
     background: rgba(255, 255, 255, 0.4);
     /*
     color: rgba(244, 244, 244, 0.95);
     background-color: rgba(255, 255, 255, 0.3);
     */
  }

  #caption {
     position: fixed;
     bottom: 60px;
     left: 45px;
     font-size: 16px;
     color: rgba(255, 255, 255, 0.5);
  }

  #title_container {
      position: fixed;
      bottom: 50px;
      left: 50%;
/*  The transform here centers the text in the middle of the page
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
*/
  }

  footer {
    padding: 60px 0 40px 0;
  }
}

/* ***** drop down menu ***** */

.navbar .dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.navbar .dropdown-menu li a {
  padding: 8px 12px;
  color: #abaaaa;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #565656;

/*
 * The code below gives the hover a softer animation
 *
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
*/
}

.navbar .dropdown-menu li a:hover {
  color: #1d1d1d;
  background: rgba(255, 255, 255, 0.4);
}

.yamm-content {
  padding: 25px;
  box-sizing: border-box;
}

.dropdown-menu .divider {
  background-color: #222;
}

.yamm-content h3.heading {
  margin-top: 4px;
  text-transform: uppercase;
  color: rgba(127, 127, 127, 0.7);
  font-size: 36px;
  font-weight: normal;
  line-height: 42px;
  text-align: center;
}

/* ** Style the menu links for small screens ** */

@media (max-width: 767px) {
  .nav.navbar-nav {
     margin-top: 28px;
  }

  .navbar .dropdown.yamm-fw {
     color: #414040;
     background-color: rgba(51, 51, 51, 0.95);
  }

  .yamm-content .hide_on_collapse, .yamm-content .hide_on_collapse h3, .yamm-content .hide_on_collapse img {
     display: none !important;
  }

  .yamm-content {
     padding: 0 25px;
  }

  .navbar-default .navbar-nav > li > a {
     color: #fff;
   }

   .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #2d2d2d;
      background: rgba(255, 255, 255, 0.8);
   }

   .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
      color: #2d2d2d;
      background: rgba(255, 255, 255, 0.8);
   }

  .navbar-default .navbar-nav > li > a span {
     color: #a6d2f4;
   }

   .navbar-brand {
      padding-top: 6px;
   }

   .navbar-toggle {
      margin-top: 13px;
      background: rgba(255, 255, 255, 0.8);
   }

   .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      color: #616161;
      background-color: rgba(255, 255, 255, 0.9);
   }

   .navbar-default .navbar-brand img {
      transform: scale(0.7, 0.7);
   }

   #home {
      margin-top: 12em;
   }

  #home .main_page_right_col > li > a {
     margin-bottom: 6px;
     padding: 8px;
     text-decoration: none;
     text-align: center;
     display: block;
     color: #2d2d2d;
     background: rgba(255, 255, 255, 0.8);
     /* font-weight: 500; */
     border-bottom: solid 1px rgba(255, 255, 255, 0.8);
  }

  #home .main_page_right_col > li > a:hover {
     background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
     max-height: 460px;
  }

  #title_container {
      position: fixed;
      bottom: 155px;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }

  .sidebar {
    padding-top: 0;
    margin-bottom: 22px;
  }

  .main_content {
     padding: 30px;
  }

  footer {
    padding-top: 25px;
  }

  footer .footer_col {
    padding-bottom: 32px;
    text-align: center;
  }

  .page_title {
    padding-left: 30px;
  }
}

/* ** End of Style the menu links for small screens ** /

/************pace style for page pre-loader********/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #32c5d2;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #32c5d2, 0 0 5px #32c5d2;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #32c5d2;
  border-left-color: #32c5d2;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** home **/

#home {
  background-color: transparent;
  background-position: center 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  z-index: 1;
}

#home .home-inner {
    /* the 30px padding is to align the section with the top navbar */
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 3;
}

#home .main_page_right_col {
   background-color: rgba(0,0,0,0.4);
   padding: 0;
   list-style: none;
}

#main_title_1 {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 44px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#main_title_2 {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 34px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#main_title_3 {
  margin-top: 5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 26px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

/* Custom styling of About Section Slider */

.section_col_1 {
   min-height: 450px;
   padding-top: 60px;
   /* LZ */
   /* background-color: rgba(0, 0, 0, 0.75); */
}

.about_col_2 {
   min-height: 450px;
   padding-top: 34px;
   padding-left: 40px;
   padding-right: 40px;
   background-color: #fff;
}

#about, #news, #events, #gallery, #eoy_show {
   /* Spacing between sections */
   margin: 80px 0;

   /* LZ */
   background-color: rgba(0, 0, 0, 0.75);
}

#about h3, #gallery h3, #eoy_show h3 {
   margin-top: 0;
   margin-bottom: 25px;
   padding-top: 0;
   text-align: center;
   color: #d01660;
}

#news h3, #events h3 {
  margin: 0;
  text-align: center;
  color: #d01660;
}

.news_col_2, .events_col_2, .gallery_col_2 {
  min-height: 450px;
  padding-top: 34px;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
}

.gallery_col_2 table {
   margin: 0 auto;
}

.eoy_show_col_2 {
  min-height: 450px;
  padding-top: 34px;
  background-color: #fff;
}

.panel-group {
   margin-bottom: 0;
   padding: 14px 30px 30px 30px;
}

.panel-heading {
   background-color: #fff;
   padding: 0;
}

a.news_events_topic {
  display: block;
  padding: 20px;
  text-decoration: none;
}

a.news_events_topic:hover {
   background-color: #ecedee;
}

.panel-heading_2 a.news_events_topic:hover {
   background-color: #fff;
}

.panel {
   border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.panel-default > .panel-heading {
   background-color: transparent;
   border: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
  padding: 25px 25px 15px 25px;
}

.panel-heading_2 {
   background-color: #ecedee;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-group .panel {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   border-radius: 0;
   /* border-bottom: solid 1px #ddd; */
   border-bottom: solid 1px #d01660;
}

h4.panel-title {
   font-size: 15px;
   line-height: 20px;
   font-weight: normal;
}

div.img_float_lt
{
  float: left;
  margin: 0 30px 4px 0;
}

.panel-body img {
   border: solid 1px #444;
}

.panel-body h5 {
   margin-top: 16px;
   font-weight: 600;
}

div.news_events_tags span.news_events_tags_first {
  padding-right: 3px;
  font-size: 12px;
  color: #8d8e8e;
}

div.news_events_tags a {
  margin-bottom: 1px;
  color: #8d8e8e;
  font-size: 12px;
  text-decoration: none;
}

div.news_events_tags a:hover {
   margin-bottom: 0;
   border-bottom: solid 1px #8d8e8e;
}

div.news_events_tags a + span {
   padding-left: 8px;
   padding-right: 4px;
   color: #8d8e8e;
   font-size: 12px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
}

footer p {
   margin: 0;
   padding: 2px;
   /* color: #a2a2a2; */
   color: rgba(255, 255, 255, 0.55);
   font-size: 13px;
   line-height: 15.5px;
}

footer a {
   padding: 12px;
   /* color: #d01660; */
   color: rgba(255, 255, 255, 0.55);
   font-size: 17px;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #474747;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

